CLIENT_ID=
CLIENT_SECRET=
CALLBACK_URL=http://localhost:8080/api/auth/42/callback
MONGO_URI=mongodb://mongo:27017/watchers
SESSION_ID=42
SPREADSHEET_ID=
FRONTEND_URL=http://localhost:8080
BACKEND_URL=http://localhost:8080/api
GOOGLE_APPLICATION_CREDENTIALS=
NGINX_HOST=localhost
