services:
  nginx:
    image: nginx
    volumes:
      - ./nginx:/etc/nginx/templates
    ports:
      - "8080:80"
    environment:
      - NGINX_HOST=$NGINX_HOST
    networks:
      - main
    restart: always

  api:
    build:
      context: ./api/
      dockerfile: Dockerfile.dev
    environment:
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
      - CALLBACK_URL=${CALLBACK_URL}
      - SESSION_SECRET=${SESSION_SECRET}
      - MONGO_URI=${MONGO_URI}
      - FRONTEND_URL=${FRONTEND_URL}
      - INTRA_PROXY_ENDPOINT=${INTRA_PROXY_ENDPOINT}
      - INTRA_PROXY_SECRET=${INTRA_PROXY_SECRET}
      - API_BEARER_TOKEN=${API_BEARER_TOKEN}
    networks:
      - main
      - db
    restart: always
    volumes:
      - ./api:/api
      - /api/node_modules
  
  app:
    build:
      context: ./app/
      dockerfile: Dockerfile.dev
    environment:
      - REACT_APP_BACKEND_URL=${BACKEND_URL}
      - CHOKIDAR_USEPOLLING=true
      - WDS_SOCKET_PORT=0
    networks:
      - main
    restart: always
    volumes:
      - ./app:/app
      - /app/node_modules
    stdin_open: true
    tty: true

  mongo:
    image: mongo
    volumes:
      - mongo-data:/data/db
    networks:
      - db
    ports:
      - "27017:27017"
    restart: always


volumes:
  mongo-data:

networks:
  main:
    driver: bridge
  db:
    driver: bridge
